#background2
{
 padding-top: 75px;
 padding-bottom: 50px;
 text-align: center;
 color: #31708f;
 background: url(Images/back.jpg) no-repeat center center;
 background-size: cover; 
 }   
 #background3
{
 padding-top: 75px;
 padding-bottom: 50px;
 text-align: center;
 color: #31708f;
 background: url(Images/back3.jpg) no-repeat center center;
 background-size: cover; 
 }   
